*.tmp
*.log
$HOME/.vscode
$HOME/.cache
$HOME/.dotnet
$HOME/.ecryptfs
$HOME/.java
$HOME/.npm
$HOME/.nuget
$HOME/.omnisharp
$HOME/.pki
$HOME/.Private
$HOME/.ServiceHub
$HOME/.var
$HOME/dotTraceSnapshots
$HOME/.geph-blobs
node_modules
/snap
$HOME/.xdm-app-data
$HOME/.local
$HOME/.config/Code
$HOME/Downloads
.idea
.vscode